html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #ffedff, #ffe5f3, #ffdde5, #fdd6d5, #f7d1c6);    
}